.logo{
	font-family: Arial Black;
	font-size: 30px;
	font-weight: lighter;
	color: rgb(16, 17, 18);
    top: 100px;
}
nav{
	position: fixed;
	background-color: transparent;
	color: skyblue;
}
.mymenus{
	font-weight: bolder;
	color: black;
}
.mymenus:hover{
	text-decoration: underline 2px solid royalblue;
	color: black;
}
.navigation-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgb(143, 146, 200);
	backdrop-filter: blur(20px);
	z-index: 5;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px;
}
.allsections{
	position: relative;
	top: 80px;
	width: 100%;
}
.section{
	width: 100%;
	height: 100vh;
	border: 5px solid black;
}
.section h1{
	text-align: center;
	margin-top: 100px;
}
html{
	scroll-behavior: smooth;
}
.home-section{
	border: none;
	width: 100%;
	background-image: url("https://media.giphy.com/media/1XCcD9VLQZ2Io/giphy.gif");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 90% 2%;	
}	
.myinfo{
	height: 450px;
	width: 50%;
	margin: 10% 4%;
}
.info-home{
	font-size: 30px;
	font-family: Elephant;
}
.myname{
	font-size: 50px;
}
.fsjd{
	font-family: Elephant;
	font-size: 30px;
	color: rgb(220, 27, 101);
}
.rsm{
	height: 60px;
	width: 120px;
	margin: 20px 30px;
	border: none;
	background-color: royalblue;
	color: white;
	border-radius: 10px;
	font-family: Arial black;
}
.rsm:hover{
	background-color: white;
	color: black;
	border: 3px solid black;
	transform: scale(1.1);
}
.about-section{
	background-color: whitesmoke;
	border: none;
	width: 100%;
	height: 500px;
	display: flex;
	padding: 20px;
}
.aboutsect{
	height: 500px;
}
.myimg{
	width: 50%;
}
.cobj{
	padding: 30px 60px;
}
.career{
	text-align: justify;
	font-size: 22px;
	margin-top: 50px;
	text-indent: 20%;
	font-family: sans-serif;
	font-weight: bolder;
	line-height: 40px;
}
.skills-section{
	height: 580px;
	padding: 20px;
	border: none;
}
.rows td{
	padding: 10px;
}
.tbl{
	margin: 50px;
}
.skill-head{
	font-size: 25px;
	margin-bottom: 30px;
	font-family: Arial Black;
	color: rgb(144, 50, 86);
	font-variant: small-caps;
	text-decoration: underline 3px solid rgb(144, 50, 86);
}
.skillset{
	font-weight: bolder;
	font-family: sans-serif;
}
.rows td div{
	height: 200px;
	border-radius: 20px;
}
.rows td div:hover{
	box-shadow: 0px 0px 10px rgb(228, 108, 172);
}
.projects-section{
	padding: 20px;
	border: none;
}
.all-projects{
	margin-top: 40px;
}
.card-title{
	color: rgb(144, 50, 86);
	font-weight: bolder;
}
.card-img-top{
	height: 200px;
	width: 200px;
}
.project-section{
	height: 1200px;
}
.contact-section{
	border: none;
	background-color: whitesmoke;
	padding: 30px;
}
.cnt-tbl{
	margin-top: 30px;
}
.contact-section{
	height: 1100px;	
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
}
input[type=submit] {
  background-color: #2313ab;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #2313ab;
}
.container {
  border-radius: 5px;
/*  background-color: #f2f2f2;*/
  padding: 20px;
  background-color: black;
  color: white;
 

}